# Doxygen
doxygen/html
doxygen/man
doxygen/latex
# CMake
build
# vim
*.swp
# MSVC
*.obj
*.lib
*.dll
*.exe
*.exp
# GCC/Clang
*.o
*.a
*.so
*.so.*
# misc
include/libutf/config.h
src/converter-test
src/decoder-test
src/encoder-test
src/iterator-test
src/string-test
src/utf8-test
src/utf16-test
examples/iconv
examples/iconv-cpp
examples/phi
examples/sigma

