# Doxygen
doxygen/html
doxygen/man
doxygen/latex
# CMake
build
# vim
*.swp
# MSVC
*.obj
*.lib
*.dll
*.exe
*.exp
# GCC/Clang
*.o
*.a
*.so
*.so.*
# misc
converter-test
decoder-test
encoder-test
examples/iconv
examples/iconv-cpp
examples/phi
examples/sigma

