Source: libutf
Section: devel
Priority: optional
Maintainer: Taylor Holberton <taylorcholberton@gmail.com>
Build-Depends: debhelper, build-essential
Homepage: https://github.com/tholberton/libutf

Package: libutf
Architecture: any
Depends:
Description: A UTF-8, UTF-16 and UTF-32 encoder and decoder for C89.

